.NewBeer {
  padding:5%;
}

.NewBeer div {
  display:flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  margin: 4%
}

.NewBeer input, textarea {
  border-radius: 18px;
  padding:3%;
}

#BlueButton {
  background-color:#38C3F7;
  color:white;
}